{% extends 'base.html.twig' %}

{% block title %}Hello AdageController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.author) }}
    {{ form_row(form.content) }}
    <button type="submit">Create</button>
    {{ form_end(form) }}


{% endblock %}
